svg {
	display: block;
	/* override inline to eliminate unwanted vertical displacements */
}

div,
span,
input {
	background-color: transparent;
}

body {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	width: var(--css-body-width, 100%);
	background-color: var(--css-background-color);
}

input[type='range'] {
	user-select: auto !important;
	touch-action: auto !important;
}

button,
svg {
	&:focus {
		outline: none;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Global spinner animation */
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.spinner-circle {
	transform-origin: center;
	animation: spin var(--spinner-speed, 1s) linear infinite;
}

.graph-container {
	will-change: transform;
	transition: transform 0.1s ease-out;
	transform: translate3d(var(--graph-x), var(--graph-y), 0);
}

.widget {
	will-change: transform;
	transform: translate3d(var(--widget-x), var(--widget-y), 0);
}